body {
    margin: 0;

    header {
        nav {
            width: 80%;
            margin: auto;
            display: flex;
            flex-direction: row-reverse;

            ul {
                width: 40%;
                list-style: none;
                padding-left: 0;
                display: flex;
                justify-content: space-between;

                li {
                    a {}
                }
            }
        }
    }


    #hero {
        height: 80vh;
        background-image: url('./image1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }


    section {
        .container {
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-around;

            article {
                width: 28%;

                border: grey solid 3px;

                h2 {
                    color: green;
                }

                p {
                    color: blue
                }
            }
        }

        #marge {
            padding: 5%
        }
    }

    footer {
        background-color: black;
        color: white;

            article {
                width: 20%;
                border: grey solid 3px;

                h3 {}

                p {}
            }
        }


    }
}